<div class="row">
  <div class="col-12">
    <form (ngSubmit)="addTask(f)" #f="ngForm">
      <div class="row d-flex">
        <div class=" col-md-5 m-3 col-12">
          <label for="exampleInputEmail1" class="form-label"
            >Ingridient Name</label
          >
          <!-- local Refernce -->
          <!-- <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            #ingridientInput
          /> -->
          <input
            type="text"
            class="form-control"
            name="name"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            ngModel
            required
          />
        </div>
        <div class="m-3 col-md-2">
          <label for="exampleInputPassword1" class="form-label">Amount</label>
          <!-- <input
            type="number"
            class="form-control"
            id="exampleInputPassword1"
            #amountInput
          /> -->
          <input
            type="number"
            class="form-control"
            id="exampleInputPassword1"
            name="amount"
            ngModel
            required
            pattern="[1-9]+[0-9]*$"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <!-- <button type="submit" class="btn btn-su
          ccess m-2" (click)="addTask(ingridientInput,amountInput)" >Submit</button> -->
          <button
            type="submit"
            class="btn btn-success m-2"
            [disabled]="!f.valid"
          >
            {{editMode ? 'Update' : 'Add'}}
          </button>
          <button *ngIf="editMode" class="btn btn-danger m-2" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
